{% extends 'login/base_login.html' %}
{% block contenido_login %}
{% if errors %}
<p style="color: red;">Errores detectados: {{ errors }}</p>
{% endif %}

<div class="global-container">
    <div class="card login-form">
    <div class="card-body">
        <h3 class="card-title text-center">Login</h3>
        <div class="card-text">
            <!--
            <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
            <form method="post">
                {% csrf_token %}
                <!-- to error: add class "has-danger" -->
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary btn-block" value="Iniciar Sesión">
                
                <div class="sign-up">
                    ¿No tienes cuenta? <a href="#">Crea Una</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}